<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" content='@rocker.$.csrf()'/>
<meta name="_csrf_header" content='@rocker.$.csrfTokenHeaderName()'/>
<link rel="icon" type="image/x-icon" href='@rocker.$.path("/static/favicon.ico")'>
<link rel="stylesheet" href='@rocker.$.path("/static/bootstrap-4.5.0-dist/css/bootstrap.min.css")'>
<link rel="stylesheet" href='@rocker.$.path("/static/font-awesome-4.7.0/css/font-awesome.min.css")'>
<link rel="stylesheet" href='@rocker.$.path("/static/jquery-confirm/3.3.4/jquery-confirm.min.css")'>
<link rel="stylesheet" href='@rocker.$.path("/static/app/css/style.css")'>
