<script src='@rocker.$.path("/static/jquery/3.5.1/jquery-3.5.1.min.js")'></script>
<script src='@rocker.$.path("/static/popper.js/2.4.4/popper.min.js")'></script>
<script src='@rocker.$.path("/static/bootstrap-4.5.0-dist/js/bootstrap.min.js")'></script>
<script src='@rocker.$.path("/static/jquery-confirm/3.3.4/jquery-confirm.min.js")'></script>
<script src='@rocker.$.path("/static/mustache/4.0.1/mustache.min.js")'></script>
<script src='@rocker.$.path("/static/app/js/app.polyfill.js")'></script>
<script src='@rocker.$.path("/static/app/js/app.base.js")'></script>
<script src='@rocker.$.path("/static/app/js/app.event.js")'></script>
<script src='@rocker.$.path("/dynamic/app.service.js")'></script>

